.cont-footer
{
	   background: #c76b38;
	   color:  white;
	   text-align: center;
	   padding: 10px;
	   display: block;
    width: 100%;

}

.footer_balquimia
{
    display: block;
    bottom: 0px;
    width: 100%;
}
