.contenedor-index
{
  width: 80%;
  margin: 0px auto;
}

/*
_______ Slider _________
*/

.cont-slider
{
  width: 100%;
  margin-bottom: -5px;
  margin-top: 5px;
}



/*
_____
      Efecto Activo en el menu  _______
*/

 .navbar-brand
{
			background: #f27f41;
			color     : white;
}
