.cont-nuestra-empresa
{
  width: 95%;
  margin: 0px auto;

}

/*
_____
      Efecto Activo en el menu  _______
*/

.uno_balk  /* = Nuestra Empresa */
{
			background: #f27f41;
			color     : white;
}


