.footer_balquimia
{
					display: block;

					background: #c76b38;
					color:  white;
					text-align: center;
					padding: 7px;
					display: block;
     font-size: 12px;
     margin: 0px auto;
					width: 97.8%;
					position: fixed;
					bottom: 0;
					z-index: 1000;
}
