.contenedor-index
{
  width: 80%;
  margin: 0px auto;
}

/*
_______ Slider _________
*/

.cont-slider
{
	    width: 70%;
	    margin: 0px auto;
}

#img_slider_index
{
	    height: 330px;
}

/*
_____
      Efecto Activo en el menu  _______
*/

 .navbar-brand
{
			background: #f27f41;
			color     : white;
}
