#menu
{
	   background: #c76b38;
	   width: 100%;
	   border: 1px solid #c76b38;
}



/*
_____ Opciones del menu ______
*/

.casa-inicio
{
   color: white;
}

#navbar-brand-inicio
{
	   margin-left: -30px;
}

#navbar-brand-inicio:hover /* Casita = Inicio */
{
	   background: #f27f41;

			-webkit-transition: all 600ms ease;
			-moz-transition   : all 600ms ease;
			transition        : all 600ms ease;
}

#menu .aaaaopciones-menu
{
	   color: white;
	   margin-left: 0px;
	   padding-left: 10px;
	   padding-right: 10px;
}

#menu .menu-ion
{
   display: table !important;
   width: 100% !important;
   height: 60px !important;
   margin:0 !important;
   padding: 0 !important;
   position: relative;
   z-index: 10;
}

#menu .menu-ion a
{

   display: table-cell !important;
   width: 11.11%  !important;
   height: 100% !important;

   margin:0 !important;
   padding: 0 !important;
   vertical-align: middle;
   text-decoration: none;


}

.aTemp {
			display: table-cell !important;
   width: 11.11%  !important;
   height: 100% !important;
   margin:0 !important;
   padding: 0 !important;
   vertical-align: middle;
   text-decoration: none;
   line-height: 14px;
   color     : white;
   text-decoration: none;
   position: relative;
   float: none !important;


}

#menu .menu-ion a li
{

   line-height: 14px;
   color     : white;
   text-decoration: none;
   position: relative;


}

#menu .menu-ion a:hover
{
			background: #f27f41;
			color     : white;
}

#menu .menu-ion a.selection
{
			background: #b94f16;
			color     : #fff;
}



.aTemp ul {
	display:none;
	position:absolute;
	min-width:190px;
	top: 60px;
	list-style: none;
	margin:0 !important;
 padding: 0 !important;
 text-align: left;
 background: #c76b38;
}

#menu .aTemp:hover > ul {
	display:block;

}

#menu .aTemp ul li > a {
		display: block !important;
		padding: 15px !important;
		width: 100% !important;
		color: white;
}
#menu .aTemp ul li > a:hover {
		display: block !important;
}



