.cont-info-pagina
{
	   width: 50%;
	   margin: 9px auto;
}

/*
_____
      Efecto Activo en el menu  _______
*/

.cinco_balk /* = Control de Calidad */
{
			background: #f27f41;
			color     : white;

			-webkit-border-radius: 10px ;
			-moz-border-radius   : 10px ;
			border-radius        : 10px ;
}
