.cont-nuestra-empresa
{
  width: 95%;
  margin: 0px auto;

}

.cont-slider-top
{
	   width: 80%;
	   margin: 0px auto;
}

.img_slider_left
{
     height: 450px;
     width: 100%;
}

/*
_____
      Efecto Activo en el menu  _______
*/

.uno_balk  /* = Nuestra Empresa */
{
			background: #f27f41;
			color     : white;

			-webkit-border-radius: 10px;
			-moz-border-radius   : 10px;
			border-radius        : 10px;
}


