.cont-info-pagina
{
	   width: 60%;
	   margin: 0px auto;
}

/**/

.img-nuestros_procesos
{
	   width: 96%;
	   margin: 30px auto;
}

/*
_____
      Efecto Activo en el menu  _______
*/

.siete_balk /* = Nuestros Clientes */
{
			background: #f27f41;
			color     : white;

			-webkit-border-radius: 10px;
			-moz-border-radius   : 10px;
			border-radius        : 10px;
}
