.cont-info-pagina
{
	   width: 60%;
	   margin: 0px auto;
}

/**/

.img-nuestros_procesos
{
	   width: 96%;
	   margin: 20.8px auto;
}

/*
_____
      Efecto Activo en el menu  _______
*/

.seis_balk /* = Nuestros Clientes */
{
			background: #f27f41;
			color     : white;
}
