.cont-info-pagina
{
	   width: 50%;
	   margin: 9px auto;
}

/*
_____
      Efecto Activo en el menu  _______
*/

.cuatro_balk /* = Control de Calidad */
{
			background: #f27f41;
			color     : white;
}
