.cont-info-pagina
{
	   width: 80%;
	   margin: 10px auto;
}


/*
_____
      Efecto Activo en el menu  _______
*/

.siete_balk/* =  Contactanos  */
{
			background: #f27f41;
			color     : white;

			-webkit-border-radius: 10px ;
			-moz-border-radius   : 10px ;
			border-radius        : 10px ;
}



/*
_______ Msj = Validacion ______
*/

.msj-validacion
{
	   display: none;
    background: #fcd1ba;
    text-align: center;
    font-weight: bold;


	   -webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   border-radius: 4px;
}

.img-malo
{
	   width: 15px;
	   margin-top: -2px;
}

/*
____ Formulario _____
*/

.cont-formulario
{
	   margin-top: -10px;
}

.text-label
{
    text-align: left;
	   color: #c76b38;

}

/*
______ Barra = Contactos ______
*/

.barra_contactos
{
    border-top: 1px solid  #b5b5b5;
    padding-top: 10px;

				-webkit-border-radius: 8px;
				-moz-border-radius   : 8px;
				border-radius        : 8px;
				font-size: 13px;
}

.titulo_linea
{
	  font-weight: bold;
	  text-align: left;
	  color: #c76b38;
	  display: block;
	  margin-bottom: -1px;
}

.Puntos
{
		  font-weight: bold;
	   color: #c76b38;
	   display: block;
	   margin-bottom: -1px;

}

.correo_contacto
{
	   text-decoration: underline;
    display: block;
    margin-bottom: -1px;
}

/*
______ Btn = Enviar_Datos ______
*/

.btn-enviar-datos
{
	   display: block;
	   padding: 5px;
	   width: 12%;
	   min-width: 120px;
    float: right;
    margin-top:10px;

	   color: white;
	   background: #c76b38;
	   border: none;

	   -webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   border-radius: 4px;
}

.btn-enviar-datos:hover
{
	   color: white;
	   background: #f27f41;
}



